<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button 
        class="btn btn-primary"
        (click)="onlyAdd = !onlyAdd"
        >Only show add numbers</button>
        <br/>
        <ul class="list-group">
          <div *ngIf="onlyAdd">
            <li 
              class="list-group-item"
              *ngFor="let odd of addNumbers"
              [ngClass]="{odd: odd % 2 !== 0}"
              [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
              >
              {{odd}}
            </li>
          </div>
          <div *ngIf="!onlyAdd">
            <li 
            class="list-group-item"
            *ngFor="let even of eventNumbers"
            >
            {{even}}
          </li>
          </div>
        </ul>
        <p appBasicHighLight> style me with basic directive !!</p>
        <p appBetterHighlight> style me with better directive !!</p>
    </div>
  </div>
</div>